.country {
    width: 250px;
    height: 250px; // Немного уменьшил высоту карточки
    border-radius: 16px;
    background-color: #2c2c2c;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; // Выравнивание текста по центру
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: translateY(-5px);
    }

    &__flag {
        width: 100%;
        height: 140px; // Фиксированная высота
        border-radius: 16px;
        object-fit: cover;
        padding: 8px;
    }

    &__title {
        font-size: 18px;
        color: #fff;
        margin-top: 12px;
        font-weight: 600;
    }
}